
.login.form-signin.col-lg-6.offset-lg-3.col-md-12
  %h2.form-signin-heading Login to Access your Voting Bloc
  = form_for(:session, url: login_path) do |f|
    .form-group
      =f.label(:email, class:"sr-only")
      =f.text_field(:email, class:"form-control", placeholder: "Email")
    .form-group
      =f.label(:password, class:"sr-only")
      =f.password_field(:password, class:"form-control", placeholder: "Password")
    =f.submit("Login", class:"btn btn-lg btn-primary btn-block")
