%p This election is closed.
- if current_user.has_voted?(@election)
  = render "elections/vote_status/result"

- if @election.winner_with_votes
  %h3 #{@election.winner_with_votes} Won

= render 'elections/all_results', election: @election
