= render "users/role_partials/show/user"
.row
  .col-md-6
    .card
      %h2.card-header Your Candidate History
      .card-block
        %p Lorem ipsum...
  .col-md-6
    .card
      %h2.card-header Your Candidate Profile
      .card-block
        %p= current_user.profile
