.container.bg-white.page-container
  %h1 Your Profile
  - if current_user.user?
  %p= link_to "Become a Candidate", user_become_candidate_path(current_user), method: :put

  = render partial: "users/role_partials/show/#{current_user.role}"

  %p= link_to "Edit Your Profile", edit_user_path(current_user)
